<h1>Bebidas Disponíveis</h1>
<%= link_to 'Cadastrar Bebida', new_beverage_path, class: 'btn btn-warning btn-sm' %>
<div>
    <% if @beverages.any? %>
        <br>
        <% @beverages.each do |b| %>
            <div class="list-group"">
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <%= link_to b.name, beverage_path(b), class: 'list-group-item list-group-item-action' %> <span class="list-group-item"><%= b.status ? 'Ativado' : 'Desativado' %></span>
                </div>
            </div>
            <br>
        <% end %>
    <% else %>
        <p>Nenhuma bebida disponível</p>
    <% end %>
    <%= link_to 'voltar', establishment_path(current_user_owner), class: 'btn btn-outline-dark' %>
</div>
