<h3>Cadastrar Bebida</h3>

<% if(@beverage.errors.any?) %>
    <h4>Verifique esse problemas:</h4>
    <% @beverage.errors.full_messages.each do |msg| %>
        - <%= msg %> <br>
    <% end %>
    <br>
<% end %>

<%= render 'form' %>
