<h1>Bebidas Disponíveis</h1>
<%= link_to 'Cadastrar Bebida', new_beverage_path, class: 'btn btn-warning btn-sm' %>
<div>
    <% if @beverages.any? %>
        <br>
        <% @beverages.each do |b| %>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4" style="max-width: 250px; max-height: 250px;">
                        <% if b.photo.attached? %>
                            <%= image_tag b.photo, class: 'img-fluid rounded-start' %><br>
                        <% else %>
                            <p>Sem foto disponível</p>
                        <% end %>
                    </div>
                    <div class="col-md-8"">
                        <div class="card-body">
                            <h3 class="card-title"><%= link_to b.name, beverage_path(b), class: 'btn btn-outline-warning' %></h3>
                            <p class="card-text"><%= b.description %></p>
                            <% if b.alcoholic? %>
                                <p class="card-text">Bebida Alcoolica! (+18)</p>
                            <% else %>
                                <p class="card-text">Não Alcoolica.</p>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        <% end %>
    <% else %>
        <p>Nenhuma bebida disponível</p>
    <% end %>
    <%= link_to 'voltar', establishment_path(current_user_owner), class: 'btn btn-outline-dark' %>
</div>