<h3>Cadastrar Cardápio</h3><br>

<% if(@menu.errors.any?) %>
    <h4>Verifique esse problemas:</h4>
    <% @menu.errors.full_messages.each do |msg| %>
        - <%= msg %> <br>
    <% end %> <br>
<% end %>

<%= render 'form' %>
