<h1>Pedidos Disponíveis</h1><br>
<div>
    <% if @orders.any? %>
        <% @orders.each do |o| %>
            <div class="list-group">
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <span class="list-group-item" style="background-color: #14213db3; color: white; border-radius: 15px;">
                        Pedido do <%= o.customer_name %> :
                    </span>
                    <%= link_to o.order_code, order_path(o), class: 'list-group-item list-group-item-action', style: 'width: 130px;' %> 
                </div>
            </div>
        <% end %>
    <% else %>
        <p>Nenhum pedido disponível</p>
    <% end %>
</div><br>
