<h1>Pedidos Realizados</h1>

<% if @orders.any? %>
    <div class="order-list">
        <% @orders.each do |o| %>
            <%= link_to order_path(o) do %>
                <div class="order-item">
                    <p>Pedido # <%= o.order_code %></p>
                    <p>Cliente: <%= o.customer_name %></p>
                </div>
            <% end %>
        <% end %>
    </div>
<% else %>
    <p>Nenhum pedido disponível</p>
<% end %>
