<h3>Pratos Disponíveis</h3>
<%= link_to 'Cadastrar Prato', new_dish_path, class: 'btn btn-warning btn-sm' %>
<div>
    <% if @dishes.any? %>
        <% @dishes.each do |d| %>
            <%= d.name %> <br>
            <%= d.description %> <br>
            <% if d.photo.attached? %>
                <%= image_tag d.photo, class: 'img-fluid' %>
            <% else %>
                <p>Sem foto disponível</p>
            <% end %>
        <% end %>
    <% else %>
        <p>Nenhum prato disponível</p>
    <% end %>
</div>
