<h3>Cadastrar Prato</h3>

<% if(@dish.errors.any?) %>
    <h4>Verifique esse problemas:</h4>
    <% @dish.errors.full_messages.each do |msg| %>
        - <%= msg %> <br>
    <% end %> <br>
<% end %>

<%= render 'form' %>
