<div>
  <% if @dishes.any? %>
    <p><b>Resultado de pratos com a tag pesquisada:</b></p>
    <br>
    <% @dishes.each do |d| %>
      <div class="list-group">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <%= link_to d.name, dish_path(d), class: 'list-group-item list-group-item-action' %> <span class="list-group-item"><%= d.status ? 'Ativado' : 'Desativado' %></span>
        </div>
        <br>
      </div>
    <% end %>
  <% else %>
    <p>Nenhum prato disponível</p>
  <% end %>
</div>
<%= link_to 'Voltar', dishes_path, class: 'btn btn-outline-dark' %>
