<h1>Seu PaLevá</h1>
código BK4JW9 <br> <br>

<b>Nome:</b> Marcos <br>
<b>Sobrenome:</b> Guimarães <br>
<b>Email:</b> marcos@email.com <br>
<b>CPF:</b> 055 999 444 222 <br> <br>

<b>Estabelecimento:</b> Fantasy <br>
<b>Colaboradores:</b> <br>
 - user_joão, <br>
 - user_maria, <br>
 - user_fulano 

<br> <br> <br>(tudo estático : refatorar)
