header {
    text-align: center;
}

body {
    font: normal 15pt Arial;
    height: 100vh;
    background-color: rgba(150, 150, 150, 0.65);
}

section {
    background:  white;
    border-radius: 15px;
    text-align: center;
    padding: 25px;
    width: 450px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.65);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.15);
    width: 170px;
    margin: auto;
    border-radius: 15px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: orange;
    text-decoration: underline;
}
