header {
    text-align: center;
}
.header {
    padding: 15px;
    background-color: rgba(254, 254, 254, 0.75);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}
nav {
    padding: 10px;
}

body {
    padding-top: 95px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(300deg, #000000bd, #14213db3, #fca211b9, #e5e5e5, #ffffff);
    min-height: 100vh;
    margin: 0;
}

section {
    background:  rgba(255, 255, 255, 0.65);
    border-radius: 15px;
    text-align: center;
    padding: 25px;
    width: 450px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.65);
}

.list-group-item-action.active {
    background-color: orange;
    border-color: orange;
    padding: 15px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.15);
    width: 170px;
    margin: auto;
    border-radius: 15px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: orange;
    text-decoration: underline;
}
table {
    width:  400px;
    border-collapse: collapse;
    border: 1px solid black;
    position: relative;
}
td, th {
    border: 1px solid black;
    padding: 10px;
}
.order-list {
    margin: 20px 0;
}
.order-item {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    cursor: pointer;
}
.order-item:hover {
    background-color: #f9f9f9;
}
.order-details {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 12px;
}