<h3>Criar porção</h3>

<% if(@portion.errors.any?) %>
    <h4>Verifique esse problemas:</h4>
    <% @portion.errors.full_messages.each do |msg| %>
        - <%= msg %> <br>
    <% end %> <br>
<% end %>

<%= render 'form' %>
