<h2><b>Cadastro de Restaurante</b></h2>

<% if(@establishment.errors.any?) %>
    <h4>Verifique esse problemas:</h4>
    <% @establishment.errors.full_messages.each do |msg| %>
        - <%= msg %> <br>
    <% end %>
    <br>
<% end %>

<%= render 'form' %>
